*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    padding: 10px;
    font-size: 40px;
}

nav{
    padding: 10px;
    display: flex;
}

button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border:none;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    border-bottom:3px solid goldenrod;
}

#content{
    flex:1;
    border-radius: 10px;
    background-color: rgb(118, 126, 160);
    width: clamp(250px,50%,1000px);
    margin-bottom: 10px;
    overflow: auto;
    padding: 10px;
}

.home{
    display: grid;
    grid-template : 3fr 1fr /1fr;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 20px;
    max-width:66ch;
}

.homeimg{
    width: 100%;
    height: 100%;
    background : url("./images/food.jpg");
    background-size : cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}